#title {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 3em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

svg{
    width: 90%;
    height: 700px;
}